html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    margin: 2rem;
    gap: 2rem;
    height: 100vh;
}

.container > div {
    padding: 3rem 20vw;
    background-color: white;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
}

.header__title {
    font-size: 3.2rem;
    font-weight: 700;
}

.header__list {
    display: flex;
    gap: 2rem;
}

.header__list-item a {
    font-size: 2rem;
}

/* GAME AREA */

.game {
    height: 75vh;
    display: flex;
    flex-flow: column nowrap;
    gap: 4rem;
}

.game__scoreboard {
    display: flex;
    justify-content: space-around;
}

.scoreboard__score-holder {
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
}

.scoreboard__scorer-name {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "monospace";
}

.scoreboard__score-number {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-weight: 700;
    font-family: "monospace";
}

.scoreboard__rounds {
    font-size: 2rem;
    font-family: "monospace";
    display: flex;
    align-items: center;
}

.player {
    color: lightgreen;
}

.ai {
    color: orangered;
}

.game__platform {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5rem;
}

.game__controls {
    display: flex;
    justify-content: center;
}

.controls__player-choice-list {
    display: flex;
    gap: 1rem;
}

.controls__player-choice-item {
    display: flex;
}

.controls__player-choice-item a {
    background-color: silver;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    width: 9rem;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-out 0.5s;
}

.controls__player-choice-item a:hover {
    box-shadow: 3px 3px 18px #888888;
    transform: scale(1.05);
}

.platform__player-selection,
.platform__ai-selection {
    border: 1px solid black;
    border-radius: 1rem;
    width: 20rem;
    height: 20rem;
}

.platform__results {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
}

.platform__results > div {
    font-size: 1.5rem;
}

/* To test the game, delete after development */
.play-button {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    font-size: 5rem;
}